ServicioClientePublico/Connected Services/ServiceReference2/WebServiceEjemplo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="numeroAleatorio">
        <s:complexType />
      </s:element>
      <s:element name="numeroAleatorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numeroAleatorioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="suma">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="val1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="val2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sumaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sumaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertirFtoC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="temperatura" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertirFtoCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="convertirFtoCResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertirCtoF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="temperatura" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertirCtoFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="convertirCtoFResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDataResult" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="apellidoP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="apellidoM" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getDataAll">
        <s:complexType />
      </s:element>
      <s:element name="getDataAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDataAllResult" type="tns:ArrayOfUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUsuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="numeroAleatorioSoapIn">
    <wsdl:part name="parameters" element="tns:numeroAleatorio" />
  </wsdl:message>
  <wsdl:message name="numeroAleatorioSoapOut">
    <wsdl:part name="parameters" element="tns:numeroAleatorioResponse" />
  </wsdl:message>
  <wsdl:message name="sumaSoapIn">
    <wsdl:part name="parameters" element="tns:suma" />
  </wsdl:message>
  <wsdl:message name="sumaSoapOut">
    <wsdl:part name="parameters" element="tns:sumaResponse" />
  </wsdl:message>
  <wsdl:message name="convertirFtoCSoapIn">
    <wsdl:part name="parameters" element="tns:convertirFtoC" />
  </wsdl:message>
  <wsdl:message name="convertirFtoCSoapOut">
    <wsdl:part name="parameters" element="tns:convertirFtoCResponse" />
  </wsdl:message>
  <wsdl:message name="convertirCtoFSoapIn">
    <wsdl:part name="parameters" element="tns:convertirCtoF" />
  </wsdl:message>
  <wsdl:message name="convertirCtoFSoapOut">
    <wsdl:part name="parameters" element="tns:convertirCtoFResponse" />
  </wsdl:message>
  <wsdl:message name="getDataSoapIn">
    <wsdl:part name="parameters" element="tns:getData" />
  </wsdl:message>
  <wsdl:message name="getDataSoapOut">
    <wsdl:part name="parameters" element="tns:getDataResponse" />
  </wsdl:message>
  <wsdl:message name="getDataAllSoapIn">
    <wsdl:part name="parameters" element="tns:getDataAll" />
  </wsdl:message>
  <wsdl:message name="getDataAllSoapOut">
    <wsdl:part name="parameters" element="tns:getDataAllResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceEjemploSoap">
    <wsdl:operation name="numeroAleatorio">
      <wsdl:input message="tns:numeroAleatorioSoapIn" />
      <wsdl:output message="tns:numeroAleatorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="suma">
      <wsdl:input message="tns:sumaSoapIn" />
      <wsdl:output message="tns:sumaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="convertirFtoC">
      <wsdl:input message="tns:convertirFtoCSoapIn" />
      <wsdl:output message="tns:convertirFtoCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="convertirCtoF">
      <wsdl:input message="tns:convertirCtoFSoapIn" />
      <wsdl:output message="tns:convertirCtoFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getData">
      <wsdl:input message="tns:getDataSoapIn" />
      <wsdl:output message="tns:getDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDataAll">
      <wsdl:input message="tns:getDataAllSoapIn" />
      <wsdl:output message="tns:getDataAllSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceEjemploSoap" type="tns:WebServiceEjemploSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="numeroAleatorio">
      <soap:operation soapAction="http://tempuri.org/numeroAleatorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="suma">
      <soap:operation soapAction="http://tempuri.org/suma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertirFtoC">
      <soap:operation soapAction="http://tempuri.org/convertirFtoC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertirCtoF">
      <soap:operation soapAction="http://tempuri.org/convertirCtoF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <soap:operation soapAction="http://tempuri.org/getData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataAll">
      <soap:operation soapAction="http://tempuri.org/getDataAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceEjemploSoap12" type="tns:WebServiceEjemploSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="numeroAleatorio">
      <soap12:operation soapAction="http://tempuri.org/numeroAleatorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="suma">
      <soap12:operation soapAction="http://tempuri.org/suma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertirFtoC">
      <soap12:operation soapAction="http://tempuri.org/convertirFtoC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertirCtoF">
      <soap12:operation soapAction="http://tempuri.org/convertirCtoF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <soap12:operation soapAction="http://tempuri.org/getData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataAll">
      <soap12:operation soapAction="http://tempuri.org/getDataAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceEjemplo">
    <wsdl:port name="WebServiceEjemploSoap" binding="tns:WebServiceEjemploSoap">
      <soap:address location="https://localhost:44340/WebServiceEjemplo.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceEjemploSoap12" binding="tns:WebServiceEjemploSoap12">
      <soap12:address location="https://localhost:44340/WebServiceEjemplo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>